<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916337881827-c7ron72s9s9sshqst1rmse5h7uk3vf20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916337881827-c7ron72s9s9sshqst1rmse5h7uk3vf20</string>
	<key>API_KEY</key>
	<string>AIzaSyC6fG9gjQVTaf97wp7MTqQkZYpN_kzeOHY</string>
	<key>GCM_SENDER_ID</key>
	<string>916337881827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pancakesAtBreakfast.BurgerTube</string>
	<key>PROJECT_ID</key>
	<string>burgertube-7cba5</string>
	<key>STORAGE_BUCKET</key>
	<string>burgertube-7cba5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916337881827:ios:4bf01db5b5c7c6507f8bd6</string>
</dict>
</plist>